<mat-toolbar color="primary">
  <span>Support cours CL&IHM 02</span>
  <span class="spacer"></span>
  <mat-form-field class="search">
    <mat-label>TMDB API key</mat-label>
    <input matInput placeholder = "TMDB API key" 
           [ngModel]       = "apiKey()"
           (ngModelChange) = "apiKey.set($event)"
           />
  </mat-form-field>  
</mat-toolbar>


<form (submit)="searchMovie(query.value)">
  <mat-form-field class="search">
    <mat-label>Rechercher un film</mat-label>
    <input #query matInput placeholder="Ex. a movie with students" value="toto">
  </mat-form-field>

</form>

<hr/>

@for (movie of movies(); track movie.id) {
  <app-movie [data]="movie"></app-movie>
}